.products-container {
  font-size: 10px;
  height: 500px;
  width: 300px;
  margin: 1em;
  border-radius: 0.5em;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.products-container img {
  width: 50%;
  height: 200px;
  min-height: 100%;
}
h6 {
  text-decoration: none;
}
.singleProduct {
  /* display:flex;
    flex-direction: column;
    background-color: antiquewhite;
    height:50%;
    width:50%;
    padding:1em; */
}
.product-item {
  background-color: antiquewhite;
}
.single-pro-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-products {
}

/* css loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  /* border-color: #fff transparent transparent transparent; */
  border-color: purple transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*category product */
.category-product {
  background-color: antiquewhite;
  padding: 2em;
  border-radius: 1em;
  margin: 0.25em;
}
