/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 
body{
  font-size:15px;
  font-family: 'Poppins', sans-serif;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.main-container{
  display:flex;
  height:93vh;
  width:100vw;
  justify-content: center;
  align-items:center;
  background-image: linear-gradient(135deg,#4568DC, #B06AB3);
}

.App{
display:flex;
flex-direction: column;
background-color: white;
align-items:center;
height:90%;
width:50%;
padding:1rem;
border-radius: 5px;
margin:0 auto;
 min-width:460px;

}
.main-heading{
  font-size:1.5rem;
  font-weight:bolder;
  padding:1.5em;
  height: 9%;
  width:100%;
  /* background-color: orange; */
  /* background-color: white; */
  text-align:center;
  color:black;
}
form{
  display :flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:100%;
  height:91%;
  align-items:center;
  /* background-color: white; */
  justify-content:space-evenly; 
  /* background-color: black; */
  
}

/* for first name and last name */
.lock{
  padding:.25rem;


}

.name{
  padding:.25rem;
}
.fields{
  font-size:.75rem;

}

/*for all fields*/
.icon{
  padding:.25rem;
  

}

.input_tag{
  padding:.25rem;
}

/* gender e_lement gap*/
.gender_el{
  padding-left:1rem;
  padding-right:1rem;
}



label{
  padding:.75em;
}

input{
  outline: none;
  border-radius:.25em;
  font-size: 1rem;
}

#btn{
  font-size: 1rem;
  padding:.5em;
  background:linear-gradient(to right,#4568DC, #B06AB3);
  border-style:none;
  border-radius:.50rem;
  width:100%;
  
  
} 
.btn-field{
  width:80%;

}
.fields{
  width:50%;
}

#pwd-heading{
  font-size:1rem;
}
/* #term-condition-checkbox{
    width:5%;
} */
#pwd-heading{
    font-size:1rem;
}
.incorrect{
  color:red;
  font-size:.70rem;
  padding: .25rem;
  
}
/*nav bar*/
.main-nav{
  background-color: white;
  display:flex;
  align-items:center;
  justify-content: space-around;
  height:7vh;
  text-align: center;
  font-size:1rem;
  padding:.5em .25em;
  text-decoration:none;
}
.pages{
  text-decoration:none;

}
#sign-up-btn{
  font-size:1rem;
  height:100%;
  padding:.25em;
  padding-left:.75em;
  padding-right:.75em;
  background-color: #B06AB3;
  border-style:none;
  border-radius: .5em;
  text-align: center;
}



@media (max-width:576px){
  .main-container{
    display:flex;
    height:93vh;
    width:100vw;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(135deg,#4568DC, #B06AB3);
  }
  

  .App{
  display:flex;
  flex-direction: column;
  align-items:center;
  height:90%;
  width:90%;
  min-width:300px;
 
  
  }
  .main-heading{
    font-size:1.5rem;
    padding-top:.50em;
    padding-bottom: .50em;
    width:100%;
    background-color: white;
    /* background-color: rgb(224, 122, 6); */
    text-align:center;
    color:black;
   
  }
  form{
    display :flex;
    flex-direction: column;
    width:100%;
    height:90%;
    align-items:center;
    /* background-color: lightgoldenrodyellow; */
    background-color: white;
    justify-content:space-evenly;
     
    
  }

  /*padding for input element */
  .lock{
    padding:.25rem;
  
  
  }
  
  .name{
    padding:.25rem;
  }
  .field{
    font-size:.75rem;
    align-self: center;
    /* background-color: #B06AB3; */
  
  }
  
  /*for all fields*/
  .icon{
    padding:.25rem;
    
  
  }
  
  .input_tag{
    padding:.25rem;
  }
  
  /* gender e_lement gap*/
  .gen_field input[type="radio"] {
    width: 1rem;
  }
  
  .wrapper-class label {
    display: inline;
    margin-left: .25rem;
    }
  .term-condtion{
    width:100%;
    margin:0 auto;
    text-align:center;
   
  }
  
  label{
    padding:.75em;
  }
  

  
  input{
    outline: none;
    border-radius:.25rem;
    width:90%;
  }
  #term-condition-checkbox{
    width:5%;
  }
  .term-condtion{
    width:100%;
    
  }
  
  #btn{
    font-size: .90rem;
    padding:.75em;
    background-color: rgb(224, 122, 6);
    border-style:none;
    border-radius:.50em;
    width:100%;
    text-align: center;
   
  }
  .btn-field{
    width:90%;
    height:5%;
  }
  /*incorrect */
  .incorrect{
    color:red;
    font-size:.75rem;
  }

  .password-condition{
  font-size:.75rem;
  padding:.5rem;
  }
 #pwd-heading{
  font-size:1rem;
  }

  /*nav bar*/
.main-nav{
  background-color: white;
  display:flex;
  align-items:center;
  justify-content: space-around;
  height:7vh;
  text-align: center;
  font-size:1rem;
  padding:.5em .25em;
  text-decoration:none;
}
.pages{
  text-decoration:none;

}
#sign-up-btn{
  font-size:1rem;
  padding:.25em;
  padding-left:.75em;
  padding-right:.75em;
  background-color: #B06AB3;
  border-style:none;
  border-radius: .5em;
  text-align: center;
}

}  
 
